<div class="container">

  <h1> D's Adoption Center </h1>

  <form action = "/posts/search" method="POST">
  <input type="text" name="location" placeholder = "location" > 
  <input type="text" name="species" placeholder = "species" > 
  <input type="text" name="breed" placeholder = "breed" > 
  <input type="submit" value="Search" />
  </form>

<!-- posts.each do something er other  -->

</div>
